// $c-main: #d66060;
$c-main: #e05a63;
$c-sub: #f5f5f1;
$outer: 13.5px;
$inner: 11.5px;
@mixin bgimg {
    content: '';
    background: url('./img/flower.jpg');
    background-size: cover;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;     
}
ul {
    padding: 0;
    li {
        list-style: none;
    }
}
body {
    width: 100vw;
    height: 100vh;
    position: relative;
    &:after {
        @include bgimg;
    }
}
.wrap {
    padding: calc((100vh - 560px) / 2) 5px 0;
}
.box {
    background-color: $c-main;
    margin: auto;
    padding: percentage(40px/550px) percentage(60px/550px);
    max-width: 550px;
    box-sizing: border-box;
    color: #564f47;
    box-shadow: 0 14px 28px rgba(0,0,0,0.4), 0 10px 10px rgba(0,0,0,0.4);

    @media screen and (min-width:768px) {
        padding: 40px 60px;
    }
    .content {        
        max-width: 440px;
        height: 650px;
        background-color:  $c-sub;
        position: relative;
        .decWrap {
            width: 100%;
            position: absolute;
            &:last-child {
                bottom: 0;
            }
            .dec {
                width: 50px;
                position: absolute;
                
                &.decT {
                    top: 5px;
                }   
                &.decB {
                    bottom: 5px;
                    transform: rotateX(180deg);
                }
                &.decB2 {
                    bottom: 5px;
                    right: 5px;
                    transform: rotate(180deg);
                }               
                &.decL {
                    left: 5px;
                }
                &.decR{
                    transform: rotateY(180deg);
                    right: 5px;
                }
                @media screen and (min-width:768px) {
                    width: 80px;
                }
            }
        }
        .mainDec {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            .squrWrap {
                position: relative;
                display: none;
                .squr {
                    width: 50px;
                    height: 50px;
                    background-color: $c-main;
                    transform: rotate(45deg);
                    border: 3px solid $c-sub;
                    box-shadow: 0 0 0 3px $c-main;
                    &:after {
                        @include bgimg;
                    }

                }
                span {
                    position: absolute;
                    color: $c-sub;
                    // font-family: 'Amiri', serif;
                    font-family: 'Dancing Script', cursive;
                    font-size: 20px;
                    left: 2px;
                    top: 15px;
                    letter-spacing: 1px;
                }
            }
            .mainPic {
                width: 130px;
                margin: 0 35px;
                img {
                    width: 100%;
                }
            }
            @media screen and (min-width:768px) {
                padding-top: 30px;
                .squrWrap {
                    display: block;
                    .squr {
                        width: 65px;
                        height: 65px;     
                    }
                    span {
                        font-size: 24px;
                        top: 20px;
                    }     
                }
                .mainPic {
                    width: 140px;
                }              
            }
        }
        .title {
            color: $c-main;
            font-family: 'Amiri', serif;
            letter-spacing: 2px;
            font-size: 28px;
            line-height: 1.3;
            max-width: 262px;
            text-align: center;
            margin: 10px auto;
        }
        .description {
            font-size: 13px;
            font-family: 'Noto Sans TC', sans-serif;
            margin-bottom: 18px;
            text-align: center;
            padding: 0px 15px;
            ul {
                margin: 0 auto;
                padding: 0 5px;
                li {
                    line-height: 1.3;
                }
            }
            @media screen and (min-width:768px){
                ul {
                    li {
                        line-height: 1.5;
                    }
                }
            }
        }
    }
    .date {
        display: flex;
        align-items: center;
        justify-content: center;
        // font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        .text {
            border: 2px solid $c-main;
            text-align: center;
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            width: 90px;
            &:nth-child(2) {
                border-right-style: none; 
                border-left-style: none; 
                height: 20px;
                padding: 1.5px 0;
            }
            
            &:nth-child(3) {
                font-family: 'Amiri', serif;
                width: 120px;
                color: $c-main;
                letter-spacing: 1px;
                font-size: 24px;
                font-weight: bold;
                padding: 4px 0 3px 0;
            }
            &:nth-child(4) {
                border-left-style: none; 
                border-right-style: none; 
                height: 20px;
                padding: 1.5px 0;
            }            
        }
        .border-left-empty{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 13.5px 7px 13.5px 0;
            border-color: transparent $c-main transparent transparent;
            position: relative;
            span {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 11.5px 4px 11.5px 0;
                border-color: transparent $c-sub transparent transparent; 
                position: absolute;
                left: 3px;
                top: -11.5px;               
            }
        }
    	.border-right-empty{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 13.5px 0 13.5px 7px;
            border-color: transparent transparent transparent $c-main;
            position: relative;
            span{
                display: block;
                width: 0;
                border-style: solid;
                border-width: 11.5px 0 11.5px 4px;
                border-color: transparent transparent transparent $c-sub; 
                position: absolute;
                left: -7.5px;
                top: -11.5px;
            }
        }
    }
    .info {
        font-size: 13px;
        margin: 18px auto;
        max-width: 265px;
        font-family: 'Noto Sans TC', sans-serif;
        ul {
            li {
                line-height: 1.3;
                letter-spacing: 1.5px;
            }
        }
        a {
            color: #564f47;
            &:visited {
                color: #564f47;
            }
            &:hover, &:active {
                color: $c-main;
            }
        }
    }
    .heart {
        position: absolute;
        width: 14px;
        height: 11px;
        display: inline-block;
        margin-left: 3px;
        vertical-align: text-top;
        // animation: beat .2s linear .2s infinite alternate;
        &::before, &:after { 
            content:"";
            position: absolute;
            left: 10px;
            top: 0;
            width: 10px;
            height: 15px;
            background: #f96666;
            border-radius: 50px 50px 0 0;
            transform: rotate(-45deg);
            transform-origin: left bottom;
        }
        &:after {
            left: 0;
            transform: rotate(45deg);
            transform-origin: right bottom;
        }
    }
    @keyframes beat{
        0%{transform:scale(1);}
        100%{
            transform:scale(1.1); 
            // opacity: .5;
        }
    }
}